<html>
    <head>
        <title> fmjh blog</title>
    </head>
    <body>
        <div>
              <h1><a href="">FMJH</a></h1>
        </div>

        <p>published: 25.062016, 18:00</p>
        <div>
        <h2><a href="">Otter</a></h2>
        </div>
        <p>The European otter (Lutra lutra), also known as the Eurasian otter, Eurasian river otter, common otter, and Old World otter, is a European and Asian member of the Lutrinae or otter subfamily, and is typical of freshwater otters. It is the most widely distributed otter species, has a diet mainly of fish, and is strongly territorial. It is endangered in parts of its range, but recovering in others.</p>

    </body>
</html>
